body {

	color:	#CC5500	;
	background-image:url("https://i.pinimg.com/originals/d3/38/39/d33839a06f44451dab6628305f307309.jpg");
	background-repeat: no-repeat, repeat;
	font-family: 'Open Sans', sans-serif;

	

}

#red {
	color:	#FF0800		;
	
	
}

#orange {
	color:	#CC5500	;
	
	
}